dashbord.html.twig
{% extends base.html.twig %}
{% block body %}
{% extends base.html.twig %}
{% block body %}
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="(path{app_produit_index})">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="(path{app_produit_new})"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
{% endblock body %}